@{
    ViewData["Title"] = "Teg Edit";
}

<div class="text-center">
    @{
        var claimss = User.Claims.ToList();
        var claimRole = claimss[0];
        var claimUserId = claimss[1];
        var namestring = claimUserId.Value.ToString();
    }



    <form method="post" asp-controller="Teg" asp-action="DeleteTeg">
        <input type="hidden" name="Name" value="@ViewBag.Teg.Name" />
        <input type="hidden" name="Id" value="@ViewBag.Teg.Id" />
        <input type="hidden" name="UserId" value="@claimUserId.Value"
        <div>
            <button>Удалить</button>
        </div>
    </form>

    <form method="post" asp-controller="Teg" asp-action="EditTeg">
        <div>
            <label for="Name">Тег:</label>
            <input name="Name" id="Name" required />
        </div>


        <input type="hidden" name="Id" value="@ViewBag.Teg.Id" />
        <input type="hidden" name="UserId" value="@claimUserId.Value"
        <div>
            <button>Изменить</button>
        </div>
    </form>

</div>

